In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
user_data = pd.read_csv("north_america_sample.gz", compression='gzip', 
                        names=('mad_id', 'country', 'lat', 'lng', 'timestamp', 'source'))

In [3]:
# user_data.groupby('country').agg({'mad_id': pd.Series.nunique})
# CA 0b4d2eb1-7f0c-40f8-bccf-90cbee8d5acd
# user_data.groupby('country')['mad_id'].apply(lambda x: x.value_counts().index[0])
# user_data.groupby(['country', 'hour'])['mad_id'].count()
# user_data.groupby(['country'])['hour'].apply(lambda x: x.value_counts().index[0])
# "Thu Mar 24 14:08:08 BRT 2016"
user_data['timestamp'] = pd.to_datetime(user_data['timestamp'], format='%a %b %d %H:%M:%S %Z %Y')

In [4]:
user_data['hour'] = [ts.hour for ts in user_data.timestamp]

In [5]:
def distinct_users_per_country_job(data_frame):
    return data_frame.groupby('country').agg({'mad_id': pd.Series.nunique})

def peak_hour_of_day_job(data_frame):
    return data_frame.groupby(['country'])['hour'].apply(lambda x: x.value_counts().index[0])
    
def most_active_user_per_country_job(data_frame):
    return data_frame.groupby('country')['mad_id'].apply(lambda x: x.value_counts().index[0])
    
def average_hourly_requests_count_per_country_job(data_frame):
    return data_frame.groupby(['country', 'hour'])['mad_id'].count()

In [6]:
distinct_users_per_country_job(user_data)

         mad_id
country
CA        17471
MX       807848
US       930476

In [7]:
peak_hour_of_day_job(user_data)

country
CA    21
MX     0
US    22
Name: hour, dtype: int64

In [8]:
most_active_user_per_country_job(user_data)

country
CA    0b4d2eb1-7f0c-40f8-bccf-90cbee8d5acd
MX    02e00826-fe83-4bac-9f14-8d59facb33b6
US    31f96fbe-9f1c-40d9-97a4-a211837e267e
Name: mad_id, dtype: object

In [9]:
average_hourly_requests_count_per_country_job(user_data)

country  hour
CA       0        10169
         1         7421
         2         5053
         3         3119
         4         2085
         5         1473
         6         1773
         7         2709
         8         4367
         9         6166
         10        7205
         11        7866
         12        8089
         13        8657
         14        8811
         15        9365
         16        9267
         17        8749
         18        8685
         19        9474
         20       11037
         21       13110
         22       13099
         23       12198
MX       0       695527
         1       653877
         2       475533
         3       288784
         4       156745
         5        90042
                  ...
         18      422617
         19      429945
         20      503643
         21      589382
         22      644817
         23      691327
US       0       547853
         1       439369
         2       334574
         3       244449
         4       178641
         5       142398
         6       138321
         7       173619
         8       237221
         9       320339
         10      399571
         11      460873
         12      506209
         13      538347
         14      557142
         15      559513
         16      569192
         17      511393
         18      488837
         19      502658
         20      578766
         21      667312
         22      674230
         23      634278
Name: mad_id, dtype: int64